<header class="header" data-header>
    <div class="container">
      <nav class="navbar" data-navbar>
        <div class="navbar-items">
            <h3 class="title">Mphasis EPM Sytem</h3>
          <a routerLink="/profile" class="nav" routerLinkActive="active">Profile</a>
          <a routerLink="/attendance" class="nav" routerLinkActive="active">Attendance</a>
          <a routerLink="/empLeaves" class="nav" routerLinkActive="active">Leave</a>
          <a routerLink="/schedule" class="nav" routerLinkActive="active">Schedule</a>
          <a routerLink="/empTimesheet" class="nav" routerLinkActive="active">Time Sheet</a>
          <a routerLink="/empSalary" class="nav" routerLinkActive="active">Salary</a>
          <button type="button" (click)="handleLogout()">Logout</button>
        </div>
      </nav>
    </div>
  </header>
  