<header class="header" data-header>
    <div class="container">
      <nav class="navbar" data-navbar>
        <div class="navbar-items">
            <h3 class="title">Mphasis EPM Sytem</h3>
          <a routerLink="/adminDashboard" class="nav" routerLinkActive="active">Dashboard</a>
          <a routerLink="/leaves" class="nav" routerLinkActive="active">Leaves</a>
          <a routerLink="/workSchedule" class="nav" routerLinkActive="active">Work Schedule</a>
          <a routerLink="/timeSheet" class="nav" routerLinkActive="active">Time Sheet</a>
          <a routerLink="/salary" class="nav" routerLinkActive="active">salary</a>
          <button type="button" (click)="handleLogout()">Logout</button>
        </div>
      </nav>
    </div>
  </header>
  